section#main div.error {
  background-image: none;
  border-color: transparent;
}

section#main table tr th {
  background: transparent;
}

section#main tr,
section#main th {
  border: none;
}

section#main th {
  border-bottom: none;
}

section#main #main-outlet {
  padding-top: 0;
}

section#main #list-area {
  margin-bottom: 0;
}

#discourse-modal .btn-social.yahoo {
  display: none;
}

/* Make sure we don't display content before it's moved into position (blocks option) */
body > .ember-view {
  display: none;
}

/* Stop core overlay disappearing under Discourse header */
.overlay-element {
  z-index: 1000;
}

#overlay-container {
  z-index: 1000;
}
