#get-involved-button {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
}

#get-involved-button img {
    width: 90px;
    height: auto;
}

.share-profile {
	display: none;
}
#views-exposed-form-map-page{
  position: absolute;
  top:0;
 left:20%;
  z-index: 100;
  width: 750px;
  max-width: 100%;
  margin-top: 10px;
}
#edit-combine-wrapper{
  display: none;
}
.leaflet-control-mapbox-geocoder.active .leaflet-control-mapbox-geocoder-toggle{display: none; }
#views-exposed-form-map-page input.form-text,.leaflet-control-mapbox-geocoder.active {
  max-width: 100%;
  height: 50px;
  width: 100%;
  margin: 0 auto;
  border: 2px solid #71868f;
  border-radius: 38px;
  background-clip: padding-box;
  opacity:0.8;
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  color: #000;
  line-height: 35px;
  padding:0;
  text-align: center;
  background: url("images/lupa.png") no-repeat #fff;
  background-position: 97% 7px;
  background-size: 34px;
  position: relative;
  }
.leaflet-control-mapbox-geocoder.active .leaflet-control-mapbox-geocoder-wrap {
  max-width: 100%;
  height: 42px;
  width: 80%;
  border:none;
  position: relative;
overflow: hidden;
left:0;
margin: 0 auto;

top:2px;
opacity: 1;
}
.leaflet-control-mapbox-geocoder.active .leaflet-control-mapbox-geocoder-results{
width: 100%;
position: absolute;
left: 0px;
top: 50px;
border:none;
}
.leaflet-control-mapbox-geocoder .leaflet-control-mapbox-geocoder-form input {
background: transparent;
border: 0;
width: 100%;
padding: 0;
height: 42px;
outline: none;
margin-bottom: 0;
text-align: center;
  font-size: 25px;
  font-weight: 300;
  color: #000;font-family: "Oswald",Helvetica, Arial, sans-serif;
}
#views-exposed-form-map-page input.form-text:focus,
.leaflet-control-mapbox-geocoder .leaflet-control-mapbox-geocoder-form input:focus{
    opacity:1;
}
.leaflet-bar a:hover {
  text-align: left;
  width: auto;

}
.leaflet-control-mapbox-geocoder-results{
  border: none;
}
#edit-combine-wrapper label  {
position: absolute;
top: 0;
left: 0;
font-size: 25px;
font-weight: 300;
color: #000;
line-height: 45px;
text-align: center;
width: 750px;
max-width: 100%;
}
#edit-combine-wrapper {
  position:relative;
  padding:0;
  font-weight: 300;
  color:#929292;
  width: 750px;
  max-width: 100%;
  margin: 0 auto;

  float: none; font-family: "Oswald",Helvetica, Arial, sans-serif;
}
.views-exposed-form  .views-widget-filter-field_type_of_business_tid,
.views-exposed-form .views-widget-filter-field_type_of_good_tid {
  width: 50%;
  padding: 1% 1%;
}
.views-widget-filter-field_type_of_business_tid > label,
.views-widget-filter-field_type_of_good_tid > label{

  background: url("images/greenico.png") no-repeat #fff;
  background-position: 97% 12px;
  background-size: 23px;
  height: 40px;
  width: 100%;
     text-align: center;
  border: 2px solid #71868f;
  border-radius: 5px;
  background-clip: padding-box;
  opacity:0.7;
  font-size: 20px;
  font-weight: 300;
  color: #6c6b6b;
  line-height: 25px;
  padding: 5px 0;
}

.views-widget-filter-field_type_of_good_tid > label{
  margin-right: 0;
  background: url("images/redico.png") no-repeat #fff;
  background-position: 97% 12px;
  background-size: 23px;
}
.views-widget-filter-field_type_of_business_tid > label:hover,
.views-widget-filter-field_type_of_good_tid > label:hover{
  opacity: 1;
}
label strong{
  font-weight: 400;
}
/**
 * CHECKBOX STYLE
 */


.views-exposed-form .form-item.form-type-bef-checkbox {
    margin:4px;

    border-radius:4px;

    overflow:hidden;
    float:left;
    width: 47%;
}


.form-type-bef-checkbox label {

    padding:3px 15px;
    display:block;
    border-radius:4px;
    margin-bottom: 0;
    color:#fff;
    font-family: "Oswald",Helvetica, Arial, sans-serif;
    font-weight: 300;
    background-color:#f16646;
    opacity: 0.75;
    font-size: 16px;

}

.form-type-bef-checkbox input {
    position:absolute;
    top:-9999px;
}

.form-type-bef-checkbox:hover   label {
    background-color:#f16646;
      opacity: 1;
}

.form-type-bef-checkbox input:checked + label {
    background-color:#f16646;
    color:#fff;
     opacity: 1;
}

.form-type-bef-checkbox:hover input:checked  + label {
    background-color:#f16646;
    color:#fff;
    opacity: 1;
}

/**
 * GREEN LABELS;
 */
li .form-type-bef-checkbox label {
    background-color:#27b99a;
     opacity: 0.75;
}
li .form-type-bef-checkbox:hover   label {
    background-color:#27b99a;
    opacity: 1;
}

 li .form-type-bef-checkbox input:checked + label {
    background-color:#478e78;
    color:#fff;
     opacity: 1;
}

li .form-type-bef-checkbox:hover input:checked + label {
    background-color:#478e78;
    color:#fff;
    opacity: 1;
}

.bef-tree-depth-2,.bef-tree-depth-1{display: none;}
.views-exposed-form .bef-tree-depth-1 .form-item.form-type-bef-checkbox,
.views-exposed-form .bef-tree-depth-2 .form-item.form-type-bef-checkbox {
    width: 94%;
    margin-left: 20px;
}
.views-exposed-form .bef-tree-depth-2 .form-item.form-type-bef-checkbox {
  margin-left: 40px;
}
.form-checkboxes ul{margin:0;}
/*.throbber{display: none;}
.ajax-progress-throbber {
  display: none;
}*/
.leaflet-localise{
  background: url("images/localise.png") no-repeat 0 0;
  background-size: 18px;
  text-indent: -9999px;
}

.CoverPop-open,
.CoverPop-open body {
    overflow: hidden;
}

#CoverPop-cover {
    display: none;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    -webkit-animation: fade-in .25s ease-in;
    -moz-animation-name: fade-in .25s ease-in;
    -ms-animation-name: fade-in .25s ease-in;
    -o-animation-name: fade-in .25s ease-in;
    animation-name: fade-in .25s ease-in;
}

    .CoverPop-open #CoverPop-cover {
        display: block;
    }


@-webkit-keyframes fade-in {
    0% { opacity: 0; }
    25% { opacity: 0; }
    100% { opacity: 1; }
}
.splash {
background-color: rgba(0,0,0,0.5) !important

}
.splash-center {
text-align: center;
width: 70%;
max-width: 730px;
padding: 20px;
background: none;
margin: 10% auto 0;
text-align: center;
}
.large-text{
color:#fff;
font-size: 60px;
 font-family: "Oswald",Helvetica, Arial, sans-serif;
margin-bottom: 10px;
  text-align: center;
  text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased !important;
}
.search-now{
 font-family: "Oswald",Helvetica, Arial, sans-serif;
 font-weight: 300;
 background: #5b737b;
font-size: 18px;
 text-transform: uppercase;
 text-align: center;
 color:#fff;
 padding: 10px 6%;
text-transform: uppercase;
text-align: center;
margin: 0 auto;
width: 215px;
text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased !important;
}
.search-now.orange{
  background: #f76644;
  color:#fff !important;
}
.btn-wrapper{
  margin: 0 auto;
width: 215px;
padding-top: 4px;
}
.btn{
   font-family: "Oswald",Helvetica, Arial, sans-serif;
 font-weight: 300;
 background: #5b737b;
 width: 49%;
 display: block;
 float: left;
 color:#fff;
 padding:10px;
 text-align: center;
}
.btn.keep{
  background: #5b737b;
  margin-right: 4px;
}
.btn.citys{
  background: #6c6c6a;
  color:#fff;
}
.btn.keep{
  color:#fff;
}
.btn.citys:hover{
  background: #777773;
  color:#fff;
}
.search-now:hover,
.btn.keep:hover{
  background: #6b8790;
  cursor: pointer;
 color:#fff;
}
.search-now.orange:hover{
  background: #f67557;
  cursor: pointer;
  color:#fff;
}
.join-now a:hover{
  color: #6b8790;
}
.join-now{
color: #fff;
font-family: "Oswald",Helvetica, Arial, sans-serif;
font-weight: 300;
font-style: italic;
text-align: center;
font-size: 11px;
padding: 10px;
text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased !important;
}
.join-now a{
color: #fff;
font-family: "Oswald",Helvetica, Arial, sans-serif;
font-weight: 300;
font-style: normal;
padding-left: 5px;
font-size: 17px;
}

/*
  FRONT PAGE BLOG SECTION
 */
.front  .blog-area .container{
  width: 100%;
  max-width: 1600px;
}

.front  .blog-area{
  padding: 0;
}
.front #profile-container{
  padding-top: 0;
}
.front  .blog-area img.scale-with-grid {
 width: 100%;
 vertical-align:text-bottom;
}
.front .blog-area .one-third.column {
width: 33.33%;
margin-left: 0;
margin-right: 0;
background-color: #677e87;
padding-top: 2px;
}

/*
MEMBERS BLOCK SECTION
 */
.members-area{
  padding: 0;
   background: #eb6748;

}
.members-block{

}
.members-block h3{
  color: #fff;
  font-size: 48px;
  line-height: 48px;
  font-family: "Oswald",Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 30px;
}
.members-block h5{
  color:#fff;
  font-size: 30px;
  line-height: 32px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}
.members-block h6{
  color:#fff;
  font-size: 30px;
  line-height: 32px;
  text-align: center;
  top:0;
  display: block;
  font-family: Helvetica, Arial, sans-serif;
}
.members-block .cities li{
float: left;
color: #fff;
font-size: 28px;
text-transform: uppercase;
font-family: "Oswald",Helvetica, Arial, sans-serif;
/* padding-left: 20%; */
line-height: 40px;
font-weight: 300;
width: 100%;
cursor: pointer;
}
.members-block .cities li:hover{
color: #88baba;
}
.members-block .cities.ralign{
  text-align: right;
}
.members-block .columns a.login-button{
background: #357797;
border: 2px solid #fff;
padding: 6px 30px;
border-radius: 5px;
margin: 0 auto 50px;
width: 208px;
text-align: center;
display: block;
color: #fff;
font-size: 30px;
font-family: "Oswald",Helvetica, Arial, sans-serif;
font-weight: bold;
line-height: 33px;
}
.members-block .columns a.login-button:hover{
background:#3b81a3;
cursor: pointer;
}
/*
MISSION SECTION
 */
.front .mission{
  background: url("images/clouds.jpg") bottom left no-repeat;
  background-size: cover;
  min-height: 940px;

}
.mission, .asseenon{
  padding: 0;
}
.mission h5{
  text-transform: uppercase;
    color: #fff;
  font-size: 48px;
  line-height: 48px;
  font-family: "Oswald",Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 30px;
    font-weight: 400;
}
.mission-text{
  text-align: center;
  font-size: 47px;
  line-height: 57px;
  font-family: Helvetica, Arial, sans-serif;
  color: #fff;
}
.mission #play-button{
  text-indent: -9999px;
  background: url("images/play_btn.png") no-repeat 0 0;
  width: 90px;
  height: 90px;
  background-size: cover;
  margin: 40px auto;
  display: block;

}
.mission #play-button:hover{
  background: url("images/play_btn_hover.png") no-repeat 0 0;
  width: 90px;
  height: 90px;
  background-size: cover;
}
.asseenon{
  background:#fff;
}
.asseenon img{
  width: 250px;
  margin: 0 auto;
  display: block;
}
.asseenon h5{
  color: #000;
  font-size: 48px;
  line-height: 48px;
  font-family: "Oswald",Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 30px;
  font-weight: 400;
}
.mission-text{}
.social-block a{ float: left; display: block;}
.social-block img{
  display: block;

  margin:10px 25px 50px;
  width: auto;
}
.asseenon .five{
  margin: 0 auto;
  display: block;
  float: none;
}



@media only screen and (min-width: 768px) and (max-width: 959px) {
    .large-text{font-size: 33px;}
    .search-now{font-size: 18px;  width: 215px;}
    .join-now{font-size: 11px;}
    .join-now a{font-size: 17px; }
    .splash-center{ margin: 17% auto 0;}
    .social-block img{ height: 40px; width: auto;margin: 10px 15px 50px;}
    .asseenon h5,.mission h5{ font-size: 38px; line-height: 38px;}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .large-text{font-size: 26px;}
    .search-now{font-size: 18px;  width: 215px;}
    .join-now{font-size: 11px;}
    .join-now a{font-size: 11px; }
    .splash-center{ margin: 25% auto 0;width: 70%;}
    .views-exposed-form .form-item.form-type-bef-checkbox{ width: 100%;}
    #views-exposed-form-map-page{width: 550px;}
    .mission-text {
      font-size: 37px;
      line-height: 47px;
    }
    .members-block .cities.ralign, .members-block .cities {
    text-align: center;
    }
     .front .blog-area .one-third.column{ width: 100%;}
}

@media only screen and (max-width: 479px) {
    .large-text{font-size: 20px;}
    .search-now{font-size: 18px;  width: 215px;}
    .join-now{font-size: 11px;}
    .join-now a{font-size: 11px; }
    .splash-center{ margin: 35% auto 0;width: 70%;}
    .views-exposed-form .form-item.form-type-bef-checkbox{ width: 100%;}
    .views-widget-filter-field_type_of_business_tid > label, .views-widget-filter-field_type_of_good_tid > label{font-size: 18px;height: auto;background: #fff;}
     #views-exposed-form-map-page{width: 220px;}
    .leaflet-control-mapbox-geocoder.active .leaflet-control-mapbox-geocoder-wrap{ width: 65%;}
    .leaflet-control-mapbox-geocoder .leaflet-control-mapbox-geocoder-form input{ font-size: 13px;}
    #views-exposed-form-map-page input.form-text, .leaflet-control-mapbox-geocoder.active{background-position: 97% 13px;background-size: 25px;}

    .form-type-bef-checkbox label {padding: 3px 8px;font-size: 13px;}
    .views-exposed-form .form-item.form-type-bef-checkbox {margin: 1px;}
    .leaflet-container a.leaflet-popup-close-button {
    text-align: center;
    font-size: 43px;

    padding: 9px 0 0;
    display: block;
    width: 38px;
    height: 40px;
    background: #fff;
    opacity: 1;
    border: 1px solid #fff;
    top: -40px;
    right: 20px;
  }
   .mission-text {
      font-size: 37px;
      line-height: 47px;
    }
    .members-block .cities.ralign, .members-block .cities {
    text-align: center;
    }
    .front .blog-area .one-third.column{ width: 100%;}
}


