/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Parallax
============================== */


#break1{
	background: url(../images/cart-photo.jpg) repeat 50% -3px fixed transparent;

}
#break2{
	background: url(../images/dinner-photo-nicole-lagoe.jpg) repeat 50% -3px fixed transparent;

} 
#break3{
	background: url(../images/city-square-nicole-lagoe.jpg) repeat 50% -3px fixed transparent;
}

#break1, #break2,#break3, #break4, #break5{
	height: 524px; 
	width: 100%;
	position: relative;
	background-size: cover;
}

/* #Site Styles
================================================== */
a, a:visited,a:active{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

body,html{
	height: 100%;
	line-height: 18px;
}

.page-wrapper{
	overflow: hidden;
	background-color: #ffffff !important;
}

p{
	line-height: 18px;
}

h1,h2,h3,h4,h5,h6{

}

h3 {
	color: #1b1b1b;
	font-family: "Oswald",Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 18px; 
	line-height: 18px;
	margin-bottom: 18px;		
	margin-bottom: 1.25em;
}

label {
	color: #1b1b1b;
	font-family: "Oswald",Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 18px; 
	line-height: 18px;
	margin-bottom: 0.35em;
}

hr{
	height:1px;
	border:none;
	margin: 30px 0px;
}

*{ 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

.overlay{
	background:url('../images/theme/overlayimg.png');
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
}
.video-frame{
	display: block;
	margin:37px 0 39px 0;
	width:auto;
	max-width: 100%;
	height:auto;
	overflow: hidden;
}

.video{
	position: relative;
	padding: 0 0 56.25% 0;
	height: 0;
	overflow: hidden;
}

.video iframe{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%
}

#header, #navigation, #breadcrumb, #page-title {
	display: none
}

.show {
	display: block;
}

/* #Page Styles
================================================== */

#content {
	margin-top: 98px;
}

.tabs {
	display: none;
}

.about,.services,.portfolio,.contact{
	padding-top: 24px;
	padding-bottom: 64px;
}

.contact {
	padding-bottom: 0;
}

.services{
	padding-bottom: 78px;
}

a.menu-offset {
	position: absolute; 
	margin-top: -74px;
}

#what-you-get {
	padding-bottom: 18px;
}

.message-block{
	font-weight: 300;
	text-align: center;
	padding: 18px 36px;
	margin: 35px 0px;
}

.message-block span{
	font-weight: 300;
}

.title-bar{
	overflow: hidden;
	margin-bottom: 18px;
	margin-top: 18px;
}
.title-bar h1{
	color: #333;
	float: left;
	padding-right: 6px;
	margin-right: 6px;
	line-height:44px;
	font-size: 40px;
}

.title-bar span {
	position: absolute;
	top: 3.75em;
}

.message p{
	padding-top:220px;
	font-size: 28px;
	text-align: center;
	line-height: 32px;
	font-weight: 600;
}

ul.bulleted {
	list-style-type: disc;
	margin: 0px 0px 0px 1.35em
}

.illustration {
	margin-bottom: 12px;
}

.field-widget-text-textarea {
	margin: 1em 0;
}


/* HOME SECTION
============================== */

.home{
	height: 100%;
	overflow: hidden;
	display: block;
	position: relative;
}

.super h4{
	font-size: 36px;
	line-height: 42px;
	margin-bottom: 18px;
}

.super h5 {
	color: #FFFFFF;
	font-size: 1.65em;
	line-height: 1.20;
}

.slider-container{
	padding-top: 33px;
	padding-left: 18px;
	padding-bottom: 72px;
	padding-right: 18px;
	background:url('../images/theme/bg-black.png');
	position: absolute;
	top:42px;
	max-width:450px;
	overflow: hidden;
	z-index: 999;
	-webkit-font-smoothing: antialiased;
}

#join-button {
	width: 54%;
	margin-left: 0px;
}


/* NAVBAR
============================== */

.menu{
	height:74px;
	position: fixed;
	z-index: 100;
	top: 0;
	left:0;
	width:100%;
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
}

.menu-holder{
	float: right;
	overflow: hidden;
}

.menu-list{
	overflow: hidden;
	margin:0;
	padding:0;
}

.menu-list li{
	float: left;
	margin:0;
	padding:0;
}
.menu-list li a{

	position: relative;
	text-align:center;
	height: 74px;
	line-height: 74px;
	display: inline-block;
	padding:;
	font-size: 13px;
	text-decoration: none;
	text-transform: uppercase;
	padding:0 12px;


	-webkit-transition:color 0.2s ease-in;  
    -moz-transition:color 0.2s ease-in;  
  	-o-transition:color 0.2s ease-in;  
   	transition:color 0.2s ease-in;
}
.menu-list li.active a, .menu-list li a:hover{
	font-size: 13px;
}
.menu-list li.active .arrow,.menu-list li a:hover .arrow, .team li:hover .arrow,.holder li:hover .arrow{
	display: block;
}
.arrow{
	display: none;
	position: absolute;
	bottom: -2px;
	left:50%;
	margin-left: -6px;
	height: 0;
	font-size:0;
	line-height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	-webkit-font-smoothing: antialiased;

}

.fixed {
        position:fixed;
        top:0;
}

.logo{
	position: absolute;
	left: 0px;
	padding:0;
	margin: 27px 0px 0px 0px;
	display: inline-block;
	float: left;
}

.logo a {
	float: left;
}

#copyright {
	float: left;
	font-size: 0.90em;
	color: #AAAAAA;
	margin-left: 5px;
	margin-top: 3px;
}

.sub-menu{
	width: 115px;
	float:right;
	padding:4px;
	margin-top: 24px;
	display: none;
	opacity: 0;
}

#video {
	width: 730px; 
	height: 420px;
}

/* ABOUT SECTION
============================== */

.slider-area{
	margin-bottom: 36px;
}

 .fullwidthbanner-container{
	width:100% !important;
	position:relative;
	padding:0;
	max-height:500px !important;
	overflow:hidden;
}

/* TEAM
============== */

.team-section h3{
	margin-top: 18px;
}
.team{
	text-align: center;
	overflow: hidden;
	padding: 0;
}

.social a{
	display: inline-block;
	height: 96px;
	width: 96px;	
	text-align: center;
}

.social a img {
	width: 96px;
	height: 96px;
	background-color: #FFFFFF;
}

.team li{
	overflow: hidden;
}

.team img{
	padding: 0;

}

.info{
	margin-top: 16px;
	margin-bottom: 15px;
}
.info h4{
	margin-bottom: 0;
	font-size: 16px;
	color:#666;
}
.info h4 .color{
	font-weight: 400;
}
.info em{
	font-size: 10px;
	display: block;
	margin-bottom: 18px;
	color:#999;
}

.info p{
	font-size: 11px;
}

/* SERVICES
============================== */
.services{

}

.services h4{
	margin-bottom: 18px;
	font-size: 16px;
}
.service{
	text-align: center;
}
.service li{
	margin-bottom: 24px;
}
.service p{
	padding:0 18px;
}
.service i{
	font-size: 90px;
	line-height: 90px;
	color:#444;
}

/* Portfolio
============================== */

.portfolio .holder h4{
	margin-bottom: 18px;
	font-size: 15px;
}

.holder{
	margin:0 0 18px 0;
	overflow: hidden;
}
.holder li{
	position: relative;
	overflow: hidden;
	text-align: center;
	margin-bottom: 18px;
}

.holder .img-frame{
	position: relative;
	margin-bottom: 18px;
	overflow: hidden;
	width: 220px;
	margin: 18px auto 18px auto;
}
.holder .img-frame a,.holder .img-frame img{
	display: block;
	padding:0;
	margin: 0;

}

li .img-over{
	position: absolute;
	overflow: hidden;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	opacity: 0;

	filter: alpha(opacity = 0);

	-webkit-transition:opacity 0.2s ease-in;  
    -moz-transition:opacity 0.2s ease-in;  
  	-o-transition:opacity 0.2s ease-in;  
   	transition:opacity 0.2s ease-in;
}
li:hover .img-over{
	display: inline-block;
	opacity: 0.5;
	filter: alpha(opacity = 50);
}

.icon{
	position: absolute;
	display:block;
	text-align: center;
	top: 50%%;
	left: 50%;
	opacity: 1;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	margin-top: -12px;

	-webkit-transition:all 0.2s ease-in-out;
 	-moz-transition:all 0.2s ease-in-out;
 	-o-transition:all 0.2s ease-in-out;
 	transition:all 0.2s ease-in-out;

}

#sign {
	margin-left: 20px;
}

.filter h5{
	display: inline-block;
	float: left;
	margin-right: 6px;
	padding-left: 10px;
	font-size: 13px;
	line-height: 20px;
}

.filter{
	overflow: hidden;
}

.filter ul{
	overflow: hidden;
	margin-bottom:-4px;
}

.filter li{
	float:left;
	margin-right: 6px;
	line-height:18px;
}

.filter li a{
	padding:1px 6px;
	line-height: 16px
	text-decoration: none;
	-moz-border-radius:3px; 
	-webkit-border-radius:3px; 
	border-radius: 3px;
	display: inline-block;
	color:#777;
}

.filter li.active a,.filter li a:hover{
	text-decoration: none;
	-webkit-transition:background-color 0.2s ease-in-out;
 	-moz-transition:background-color 0.2s ease-in-out;
 	-o-transition:background-color 0.2s ease-in-out;
 	transition:background-color 0.2s ease-in-out;
}

.img-frame {
	position: relative;
}


/* CONTACT
============================== */

.contact h4{
	margin-bottom: 18px;
	font-size: 16px;
}

.contact .social{
	border:none;
	padding:0 0 3px 0;
}
.contact .social a{
	text-align: center;
	margin-bottom: 6px;
}

.address span{
	float: left;
}
.contact-info li{
	overflow: hidden;
}
.contact-info i{
	font-size: 14px;
	margin-right: 3px;
	float:left;
}
.contact-area input,textarea{
	margin: 0;

}
.contact-info li span{
	float: left;
	display: inline-block;
	margin-left: -1px;
}
.contact-area input{
	width: 54%;
	float: left;
}

::-webkit-input-placeholder { color:#999999; font-style: italic; }
::-moz-placeholder { color:#9999999;  font-style: italic; } /* firefox 19+ */
:-ms-input-placeholder { color:#9999999;  font-style: italic; } /* ie */
input:-moz-placeholder { color:#999999;  font-style: italic; }

.contact-area textarea{
	width:100%;
}

button.std-button, .form-submit {
	float:left;
	font-size: 12px;
	font-family: "Open Sans",Helvetica,Arial, sans-serif;
	border: none;
	padding: 6px 9px;
	-moz-border-radius:3px; 
	-webkit-border-radius:3px; 
	border-radius: 3px;
	cursor: pointer;
	margin-left: 9px;
	-webkit-transition:background-color 0.2s ease-in;  
	-moz-transition:background-color 0.2s ease-in;  
	-o-transition:background-color 0.2s ease-in;  
	transition:background-color 0.2s ease-in;
}

.form-submit {
	float: none;
}


.contact-area label{
	display: block;
	font-size: 11px;
	font-weight: normal;
	font-family: "Open Sans",Helvetica,Arial, sans-serif;
	line-height: 18px;
	margin-bottom: 6px;
	margin-top: 12px;
	line-height: 12px;
}
.contact-area label.error{
	display: inline-block;
	padding:0 9px;
	-moz-border-radius:3px; 
	-webkit-border-radius:3px; 
	border-radius: 3px;
	line-height: 18px;
	margin-bottom: 3px;
	margin-top: 3px;
}
.first{
	margin-top:0 !important;
}

/* map
============================== */
.map{
 position: relative;
}
.map-wrap{
	position: relative;
}
.map-wrap iframe{
	width: 100%;
	height: 324px;
	margin-bottom: 18px;
	border: none;
}

/* slide panel
============================== */
.slide-panel{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	z-index: 1000;
}

.panel-wrap{
	position: relative;
	overflow: hidden;
	padding: 36px 0 54px 0;
}

.panel-wrap .flickr{
	overflow: hidden;
	padding-top: 5px;
	margin-left: -6px;
	margin-bottom: 18px;
}
.panel-wrap .flickr img{
	width:69px;
	height: 69px;
	margin-left: 6px;
}
.panel-wrap .list li{
	line-height: 18px;
	padding-bottom: 6px;
	padding-top: 6px;

}
.panel-wrap .list li.last{
	padding-bottom: 0;
	border-bottom: none;
}
.panel-wrap .list li.first{
	padding-top: 0;
	border-top: none;
}

.panel-wrap .list i{
	margin-right: 4px;
}
.panel-wrap .toggle{
	width: 24px;
	height: 24px;
	display: block;
	overflow: hidden;
	text-align: center;
	line-height: 24px;
	border-radius: 24px;
	position: absolute;
	bottom: 18px;
	left:50%;
	margin-left: -12px;
	cursor: pointer;
}

.panel-wrap .column a:hover img {
	background-color: #669999;
	-moz-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

#social.list a {
	display: block;
}

/* FOOTER
============================== */

section#footer {
	padding-bottom: 18px;
}

#footer h2.message-block {
	color: #dedede;
}

#privacy-policy {
	float: right;
}

.tweet{
	overflow: hidden;
    height: 500px;
	
    
}

.tweet .tweet_time{
	display: none;
}
.tweet li{
	position: relative;
	padding-top: 200px;
	height: 500px;
	font-size: 26px;
	text-align: center;
	line-height: 30px;
	font-weight: 600;
}
.tweet li a{
	font-weight: 300;
}
.tweet img{
	border-radius: 32px;
	position: absolute;
	bottom: 40px;
	left:50%;
	margin-left: -16px;
}

.footer{
	height: 72px;
	text-align: center;
	line-height: 72px;
}

.color_big{
	position: absolute; 
	text-shadow: none; 
	font-weight: 800; 
	font-size: 75px;
	line-height: 75px; 
	font-family: 'Open Sans', sans;
	padding: 3px 4px; 
	padding-top: 1px;
	margin: 0px; 
	border-width: 0px; 
	border-style: none;
	letter-spacing: 0px;	
}

.fullwidthbanner-container i{
	font-weight: 300 !important; 
	font-size: 14px;
	margin-right: 6px;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
  	
		#video {
			width: 675px;
			height: 385px;			
		}
			
		.logo {
			width: 200px;
			margin-top: 20px;
		}
		
		.logo #copyright {
			margin: 0;
		}
	
		
  }

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.slide-panel{
			position: relative;
		}
		.panel-wrap .toggle{
			display: none;
		}
		.menu-list,.filter{display: none;}
		.sub-menu{opacity: 1;display:inline-block;}
		.slider-container h4{
			font-size: 16px;
			margin-bottom: 18px;
			line-height: 16px;

		}
		.slider-container{
			display: none;
		}
		
		.social.urls .form-type-textfield {
			position: relative !important;
			left: auto !important;
		}		
		
		.tweet li{
			position: relative;
			padding-top: 200px;
			height: 500px;
			font-size: 18px;
			text-align: center;
			line-height: 24px;
			font-weight: 600;
		}
		.message p{
			padding-top:200px;
			font-size: 18px;
			line-height: 24px;
		}
		.map-wrap .mobile-fix{
			background-color: !transparent;
			position: absolute;
			width: 100%;
			height: 324px;
			top:0;
			left:0;
		}

		#break1, #break2,#break3, #break4, #break5{
			background-size: 300% auto;
			/*background-position:50% 50%;*/

		}

		#video {
			width: 345px;
			height: 200px;
		}		
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {

	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {		
		#video {
			width: 225px;
			height: 130px;
		}	
		
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
