/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Parallax
============================== */


#break1{
	background: url(../images/cart-photo.jpg) repeat 50% -3px scroll transparent;

}
#break2{
	background: url(../images/dinner-photo-nicole-lagoe.jpg) repeat 50% -3px scroll transparent;

}
#break3{
	background: url(../images/city-square-nicole-lagoe.jpg) repeat 50% -3px scroll transparent;
}

#break1, #break2,#break3, #break4, #break5{
	height: 420px;
	width: 100%;
	position: relative;
	background-size: cover;
}

/* Supersized
================================================== */
#supersized {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	overflow: hidden;
	z-index: 0;
	height: 100%;
	width: 100%;
}

#supersized li {
	display: block;
	list-style: none;
	z-index: 30;
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
}


/* #Site Styles
================================================== */
a, a:visited,a:active{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}

body,html {
	height: 100%;
	line-height: 18px;
}

.page-wrapper {
	overflow: hidden;
	position: relative;
	background-color: #ffffff !important;
	margin-top: -20px;
}

p {
	line-height: 1.33em;
}

h1,h2,h3,h4,h5,h6{

}

h2 {
	border-bottom: 1px solid #e7e7e7;
}

h3 {
	color: #1b1b1b;
	font-family: "Oswald",Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 18px;
	margin-bottom: 1.25em;
}

label {
	color: #1b1b1b;
	font-family: "Oswald",Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 0.35em;
}

legend {
	display: none;
}

hr{
	height:1px;
	border:none;
	margin: 30px 0px;
}

*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.overlay{
	background:url('../images/theme/overlayimg.png');
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
}

.overlay.clear {
	background: none;
}

.messages {
	position: relative;
	z-index: 99;
}

#profile-container .container {
	border-bottom: 1px solid #E7E7E7;
}

#header, #navigation, #breadcrumb, #page-title {
	display: none
}

.show {
	display: block;
}

/* #Page Styles
================================================== */

#content {
	margin-top: 98px;
}

.tabs {
	display: none;
}

.page-section {
	padding: 30px 0px;
}

.contact {
	padding-bottom: 0;
}

a.menu-offset {
	position: absolute;
	margin-top: -74px;
}

#what-you-get {
	padding-bottom: 18px;
}

.message-block{
	font-weight: 300;
	text-align: center;
	padding: 18px;
}

.message-block span{
	font-weight: 300;
}

.divider {
	margin: 2em 0;
	border-bottom: 1px solid #e7e7e7;
}

.message-box {
	position: absolute;
	top: 120px;
	left: 50%;
	z-index: 99;
	margin-left: -230px;
}


.message-box header {
	text-align: center;
	background-color: #677e88;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 10px 0px;
}

.message-box .close {
	position: absolute;
	top: 10px;
	right: 11px;
	cursor: pointer;
}

.message-box .content {
	float: left;
	width: 100%;
	font-family: "Oswald",Helvetica, Arial, sans-serif;
	background: url(../images/message-box-bg.png) top left repeat;
	padding: 30px;
}

.message-box h3 {
	text-transform: uppercase;
	margin-left: 23px;
	margin-bottom: 12px;
}

.message-box .join-now {
	font-size: .6em;
	font-weight: normal;
	line-height: 1em;
	margin-left: 3px;
}

.message-box ul {
	font-size: 1.10em;
	padding: 0;
	margin: 0;
}

.message-box li {
	background: url(../images/orange-bullet.png) top left no-repeat;
	padding-left: 25px;
	margin-bottom: 10px;
}

.message-box .full {
	width: 100%;
}

.message-box #launch-message {
	color: #999999;
	font-size: 1.5em;
	text-align: center;
	margin-top: 10px;
}

.message-box a.bubble {
	display: block;
	width: 150px;
	color: #FFFFFF;
	position: relative;
	background-color: #677e88;
	border-radius: 4px;
	cursor: pointer;
	padding: 15px;
	margin: 20px auto 0px auto;
}

.message-box .bubble .bubble-arrow {
	position: absolute;
	bottom: -6px;
	left: 50%;
	margin-left: -6px;
}

.title-bar{
	overflow: hidden;
	margin-bottom: 18px;
	margin-top: 18px;
}
.title-bar h1{
	color: #333;
	float: left;
	padding-right: 6px;
	margin-right: 6px;
	line-height:44px;
	font-size: 40px;
}

.title-bar span {
	position: absolute;
	top: 3.50em;
}

.call-out {
	font-size: 1.6em;
	font-family: "Oswald", Helvetica, Arial, sans-serif;
	font-weight: 200;
	background-color: #f3f3f3;
	border-radius: 3px;
	padding: 7px;
}

.message p{
	padding-top:220px;
	font-size: 28px;
	text-align: center;
	line-height: 32px;
	font-weight: 600;
}

ul.bulleted {
	list-style-type: disc;
	margin: 0px 0px 0px 1.35em
}

.illustration {
	margin-bottom: 12px;
}

.field-widget-text-textarea {
	margin: 1em 0;
}

.full-image {
	display: block;
	margin: 0px auto;
}

.bumper {
	height: 2em;
	clear: both;
}

.blog-section-header {
	display: block;
	width: 100%;
	height: 51px;
	text-indent: -9999em;
	border-radius: 0px;
	background-position: center top;
	background-repeat: no-repeat;
	overflow: hidden;
	margin-bottom: 0px;
}

.blog-section-header.active:hover {
	background-position: center bottom;
	-webkit-transition:all 0.2s ease-in-out;
 	-moz-transition:all 0.2s ease-in-out;
 	-o-transition:all 0.2s ease-in-out;
 	transition:all 0.2s ease-in-out;
}

#good-vibes-header {
	background-color: #677e87;
	background-image: url(../images/good-vibes-header.png);
}

#good-spotlight-header {
	background-color: #677e87;
	background-image: url(../images/good-spotlight-header.png);
}

#good-guides-header {
	background-color: #677e87;
	background-image: url(../images/good-guides-header.png);
}


/* MAP SECTION
============================== */

.view-map, .view-map .view-content, #leaflet-map {
	height: 100% !important;
}

.home{
	height: 100%;
	overflow: hidden;
	display: block;
	position: relative;
}

.super h4{
	font-size: 36px;
	line-height: 42px;
	margin-bottom: 18px;
}

.super h5 {
	color: #FFFFFF;
	font-size: 1.65em;
	line-height: 1.20;
}

.slider-container{
	padding-top: 33px;
	padding-left: 18px;
	padding-bottom: 72px;
	padding-right: 18px;
	background:url('../images/theme/bg-black.png');
	position: absolute;
	top:42px;
	max-width:450px;
	overflow: hidden;
	z-index: 999;
	-webkit-font-smoothing: antialiased;
}

#join-button {
	width: 54%;
	margin-left: 0px;
}


/* NAVBAR
============================== */

.menu{
	height:74px;
	position: fixed;
	z-index: 100;
	top: 0;
	left:0;
	width:100%;
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
}

.menu-holder{
	float: left;
	overflow: hidden;
}

.menu-list{
	overflow: hidden;
	margin:0;
	padding:0;
}

.menu-list li{
	float: left;
	margin:0;
	padding:0;
}

.menu-list li a {
	position: relative;
	text-align:center;
	height: 74px;
	line-height: 74px;
	display: inline-block;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 6px;
	-webkit-transition: color 0.2s ease-in;
	-moz-transition: color 0.2s ease-in;
	-o-transition: color 0.2s ease-in;
	transition: color 0.2s ease-in;
}

.menu-list li.active a, .menu-list li a:hover{
	font-size: 12px;
}

.menu-list li.active .arrow,.menu-list li a:hover .arrow, .team li:hover .arrow,.holder li:hover .arrow{
	display: block;
}

.menu-list li a#join {
	height: 59px;
	width: auto;
	position: relative;
	margin-top: 7px;
	margin-left: 5px;
}

.menu-list li a#join img {
	width: 55px;
	height: auto;
}
.login-subscribe{
	float: left;
	margin: 23px 0 0 0;

}
.login-subscribe a{
	float: left;
	margin-left: 10px;
	font-family: "Oswald", Helvetica, Arial, sans-serif;
	font-weight: 400;
}
.login-subscribe  .login-button{
	background: #388990;
	color: #fff;
	text-align: center;
	padding: 4px;
	text-transform: uppercase;
	border-radius: 4px;
	border-bottom: 1px solid #1a4043;
	font-size: 11px;

}
.login-subscribe .login-button:hover,
.login-subscribe .login-button:active{
	background: #419ba3;
	cursor: pointer;
}
.login-subscribe  .subscribe-button{
	color: #fff;
	text-transform: uppercase;
	font-size: 11px;
	background: url("images/emailicon.png") no-repeat 0 1px;
	padding: 0px 4px 4px 24px;

	margin-top: 5px;
}
.login-subscribe  .subscribe-button:hover{
	cursor: pointer;
}
.arrow{
	display: none;
	position: absolute;
	bottom: -2px;
	left:50%;
	margin-left: -6px;
	height: 0;
	font-size:0;
	line-height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	-webkit-font-smoothing: antialiased;

}

.fixed {
        position:fixed;
        top:0;
}

.logo{
	position: relative;
	padding:0;
	margin: 29px 15px 0px 0px;
	display: inline-block;
	float: left;
}

.logo a {
	float: left;
}
.logo img {
	max-width: 160px;
	height: auto;
}

.logo #beta-label {
	position: relative;
	top: -7px;
	left: 2px;
	display: inline;
	color: #FFFFFF;
	font-size: 14px;
	font-family: "Oswald", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

#copyright {
	float: left;
	font-size: 0.90em;
	color: #AAAAAA;
	margin-left: 5px;
	margin-top: 3px;
}

#social-header {
	float: left;
	margin-left: 5px;
}

#social-header a {
	font-size: 1.25em;
	margin-left: 5px;
}

#social-header a:hover {
	text-decoration: none;
}

.sub-menu{
	width: 115px;
	float:right;
	padding:4px;
	margin-top: 24px;
	display: none;
	opacity: 0;
}

.video-thumbnail {
	display: block;
	color: #1b1b1b;
	font-family: "Oswald",Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 300;
	line-height: 36px;
	margin-bottom: 18px;
	padding-top: 12px;
}

.video-thumbnail.selected {
	background: url(../images/video-selected-bg.png) 155px 0px no-repeat;
}

.video-thumbnail span {
	display: block;
}

.video-thumbnail img {
	width: 344px;
	height: 195px;
}

.video-thumbnail.selected img {
	border: 3px solid #01a3ab;
}

.video-thumbnail:hover img {
	opacity: .90;
}

.video#interview {
	display: block;
}

.video {
	display: block;
	width: 940px;
	height: 529px;
}

/* ABOUT SECTION
============================== */

.slider-area{
	margin-bottom: 36px;
}

 .fullwidthbanner-container{
	width:100% !important;
	position:relative;
	padding:0;
	max-height:500px !important;
	overflow:hidden;
}

/* TEAM
============== */

.team-section h3{
	margin-top: 18px;
}
.team{
	text-align: center;
	overflow: hidden;
	padding: 0;
}

.team li{
	overflow: hidden;
}

.team img{
	padding: 0;

}

.info{
	margin-top: 16px;
	margin-bottom: 15px;
}
.info h4{
	margin-bottom: 0;
	font-size: 16px;
	color:#666;
}
.info h4 .color{
	font-weight: 400;
}
.info em{
	font-size: 10px;
	display: block;
	margin-bottom: 18px;
	color:#999;
}

.info p{
	font-size: 11px;
}

/* SERVICES
============================== */
.services{

}

.services h4{
	margin-bottom: 18px;
	font-size: 16px;
}
.service{
	text-align: center;
}
.service li{
	margin-bottom: 24px;
}
.service p{
	padding:0 18px;
}
.service i{
	font-size: 90px;
	line-height: 90px;
	color:#444;
}

/* Portfolio
============================== */

.portfolio .holder h4{
	margin-bottom: 18px;
	font-size: 15px;
}

.holder{
	margin:0 0 18px 0;
	overflow: hidden;
}
.holder li{
	position: relative;
	overflow: hidden;
	text-align: center;
	margin-bottom: 18px;
}

.holder .img-frame{
	position: relative;
	margin-bottom: 18px;
	overflow: hidden;
	width: 220px;
	margin: 18px auto 18px auto;
}
.holder .img-frame a,.holder .img-frame img{
	display: block;
	padding:0;
	margin: 0;

}

li .img-over{
	position: absolute;
	overflow: hidden;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	opacity: 0;

	filter: alpha(opacity = 0);

	-webkit-transition:opacity 0.2s ease-in;
    -moz-transition:opacity 0.2s ease-in;
  	-o-transition:opacity 0.2s ease-in;
   	transition:opacity 0.2s ease-in;
}
li:hover .img-over{
	display: inline-block;
	opacity: 0.5;
	filter: alpha(opacity = 50);
}

.icon{
	position: absolute;
	display:block;
	text-align: center;
	top: 50%%;
	left: 50%;
	opacity: 1;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	margin-top: -12px;

	-webkit-transition:all 0.2s ease-in-out;
 	-moz-transition:all 0.2s ease-in-out;
 	-o-transition:all 0.2s ease-in-out;
 	transition:all 0.2s ease-in-out;

}

.filter h5{
	display: inline-block;
	float: left;
	margin-right: 6px;
	padding-left: 10px;
	font-size: 13px;
	line-height: 20px;
}

.filter{
	overflow: hidden;
}

.filter ul{
	overflow: hidden;
	margin-bottom:-4px;
}

.filter li{
	float:left;
	margin-right: 6px;
	line-height:18px;
}

.filter li a{
	padding:1px 6px;
	line-height: 16px;
	text-decoration: none;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius: 3px;
	display: inline-block;
	color:#777;
}

.filter li.active a,.filter li a:hover{
	text-decoration: none;
	-webkit-transition:background-color 0.2s ease-in-out;
 	-moz-transition:background-color 0.2s ease-in-out;
 	-o-transition:background-color 0.2s ease-in-out;
 	transition:background-color 0.2s ease-in-out;
}

.img-frame {
	position: relative;
	margin-bottom: 1em;
}


/* page-section
============================== */

.contact h4{
	margin-bottom: 18px;
	font-size: 16px;
}

.contact .social{
	border:none;
	padding:0 0 3px 0;
}
.contact .social a{
	text-align: center;
	margin-bottom: 6px;
}

.address span{
	float: left;
}
.contact-info li{
	overflow: hidden;
}
.contact-info i{
	font-size: 14px;
	margin-right: 3px;
	float:left;
}
.contact-area input,textarea{
	margin: 0;

}
.contact-info li span{
	float: left;
	display: inline-block;
	margin-left: -1px;
}
.contact-area input{
	width: 54%;
	float: left;
}

::-webkit-input-placeholder { color:#999999; font-style: italic; }
::-moz-placeholder { color:#9999999;  font-style: italic; } /* firefox 19+ */
:-ms-input-placeholder { color:#9999999;  font-style: italic; } /* ie */
input:-moz-placeholder { color:#999999;  font-style: italic; }

.contact-area textarea{
	width:100%;
}

button.std-button, .form-submit {
	float:left;
	font-size: 12px;
	font-family: "Open Sans",Helvetica,Arial, sans-serif;
	border: none;
	padding: 6px 9px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius: 3px;
	cursor: pointer;
	margin-left: 9px;
	-webkit-transition:background-color 0.2s ease-in;
	-moz-transition:background-color 0.2s ease-in;
	-o-transition:background-color 0.2s ease-in;
	transition:background-color 0.2s ease-in;
}

.form-submit {
	float: none;
}

.successMessage {
	color: #FFFFFF;
}

.contact-area label{
	display: block;
	font-size: 11px;
	font-weight: normal;
	font-family: "Open Sans",Helvetica,Arial, sans-serif;
	line-height: 18px;
	margin-bottom: 6px;
	margin-top: 12px;
	line-height: 12px;
}
.contact-area label.error{
	display: inline-block;
	padding:0 9px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius: 3px;
	line-height: 18px;
	margin-bottom: 3px;
	margin-top: 3px;
}
.first{
	margin-top:0 !important;
}

a.join-button {
	display: block;
	width: 137px;
	background-color: #000000;
	border: 2px solid #01a3ab;
	border-radius: 7px;
	padding: 4px 20px !important;
	margin: 40px auto 0px auto;
}

a.join-button:hover {
	-moz-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	background-color: #1b1b1b !important;
	border: 2px solid #01a3ab !important;
}

.logo-container {
	width: 170px;
	height: 170px;
	margin: 0px auto;
}

.logo-set {
	display: none;
	overflow: hidden;
}

/* FAQ
============================== */

a.question {
	display: block;
	float: left;
	clear: both;
	width: 100%;
	margin: 1.25em 0;
}

.question h3 {
	float: left;
	width: 95%;
	line-height: 1.33em;
	padding: 0;
	margin: 0;
}

.question i {
	display: block;
	float: left;
	width: 5%;
	margin-top: .25em;
}

.answer {
	display: none;
	clear: both;
	float: right;
	width: 95%;
	margin-left: 5%;
}


/* map
============================== */
.map{
 position: relative;
}
.map-wrap{
	position: relative;
}
.map-wrap iframe{
	width: 100%;
	height: 324px;
	margin-bottom: 18px;
	border: none;
}

/* slide panel
============================== */
.slide-panel{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	z-index: 1000;
}

.panel-wrap{
	position: relative;
	overflow: hidden;
	padding: 0;
}

.panel-wrap .flickr{
	overflow: hidden;
	padding-top: 5px;
	margin-left: -6px;
	margin-bottom: 18px;
}
.panel-wrap .flickr img{
	width:69px;
	height: 69px;
	margin-left: 6px;
}
.panel-wrap .list li{
	line-height: 18px;
	padding-bottom: 6px;
	padding-top: 6px;

}
.panel-wrap .list li.last{
	padding-bottom: 0;
	border-bottom: none;
}
.panel-wrap .list li.first{
	padding-top: 0;
	border-top: none;
}

.panel-wrap .list i{
	margin-right: 4px;
}
.panel-wrap .toggle{
	width: 24px;
	height: 24px;
	display: block;
	overflow: hidden;
	text-align: center;
	line-height: 24px;
	border-radius: 24px;
	position: absolute;
	bottom: 18px;
	left:50%;
	margin-left: -12px;
	cursor: pointer;
}

.panel-wrap .column a:hover img {
	background-color: #669999;
	-moz-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

#social.list a {
	display: block;
}

/* CONTACT
============================= */

.contact {
	position: relative;
}

/* FOOTER
============================== */

section#footer {
	position: relative;
	padding-bottom: 18px;
}

#footer h3.email {
	color: #dedede;
	text-align: center;
	margin: 1.25em 0;
}

#privacy-policy {
	float: right;
}

.tweet{
	overflow: hidden;
  height: 500px;
}

.tweet .tweet_time{
	display: none;
}
.tweet li{
	position: relative;
	padding-top: 200px;
	height: 500px;
	font-size: 26px;
	text-align: center;
	line-height: 30px;
	font-weight: 600;
}
.tweet li a{
	font-weight: 300;
}
.tweet img{
	border-radius: 32px;
	position: absolute;
	bottom: 40px;
	left:50%;
	margin-left: -16px;
}

.footer{
	height: 72px;
	text-align: center;
	line-height: 72px;
}

.color_big{
	position: absolute;
	text-shadow: none;
	font-weight: 800;
	font-size: 75px;
	line-height: 75px;
	font-family: 'Open Sans', sans;
	padding: 3px 4px;
	padding-top: 1px;
	margin: 0px;
	border-width: 0px;
	border-style: none;
	letter-spacing: 0px;
}

.fullwidthbanner-container i{
	font-weight: 300 !important;
	font-size: 14px;
	margin-right: 6px;
}

/*===Mailing list form====*/
#webform-component-subscriber-email {
	float: left;
}

#webform-client-form-45 .form-item, #webform-client-form-45 .form-actions, #webform-client-form-45 .form-actions input, #webform-client-form-45--2 .form-actions input {
	margin-top: 0;
}

#webform-client-form-45 .form-actions, #webform-client-form-45--2 .form-actions {
	float: left;
	margin-left: 5px;
}


/*===Message form===*/

.webform-client-form {
	width: 320px;
}

.webform-client-form .form-submit {
	margin: 0 0 0 5px;
}

/*===User toolbar===*/

#toolbar .menu, .toolbar-shortcuts .menu {
	position: relative;
}

.form-item-files-picture-upload {
	display: none;
}

#field-contact-email-values .draggable {
	background-color: transparent;
	border-bottom: 0;
}

#field-contact-email-values td.field-multiple-drag {
	display: none;
}

/*===Large list===*/

.large-list {
	list-style-type: disc;
	padding-left: 1em;
}

.large-list li {
	margin: 1em .5em;
}

.contact-list a {
	display: block;
	width: 120px;
	font-size: 1em;
}

.support-option {
	display: block;
	cursor: pointer;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {

		.video-thumbnail img {
			width: 275px;
			height: auto;
		}

		.video-thumbnail.selected {
			background: url(../images/video-selected-bg.png) 120px 0px no-repeat
	}

		.video {
			width: 748px;
			height: 421px;
		}

		.logo {
			width: 160px;
			margin-top: 24px;
		}

		.logo #copyright {
			margin: 0;
		}


  }

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.blog-section-header {
			width: 100%;
			height: 35px;
			background-size: 236px 70px;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.slide-panel{
			position: relative;
		}
		.panel-wrap .toggle{
			display: none;
		}
		.menu-list,.filter{display: none;}
		.sub-menu{opacity: 1;display:inline-block;}
		.slider-container h4{
			font-size: 16px;
			margin-bottom: 18px;
			line-height: 16px;

		}
		.slider-container{
			display: none;
		}

		.social.urls .form-type-textfield {
			position: relative !important;
			left: auto !important;
		}

		.tweet li{
			position: relative;
			padding-top: 200px;
			height: 500px;
			font-size: 18px;
			text-align: center;
			line-height: 24px;
			font-weight: 600;
		}
		.message p{
			padding-top:200px;
			font-size: 18px;
			line-height: 24px;
		}
		.map-wrap .mobile-fix{
			background-color: !transparent;
			position: absolute;
			width: 100%;
			height: 324px;
			top:0;
			left:0;
		}

		#break1, #break2,#break3, #break4, #break5{
			background-size: 300% auto;
			/*background-position:50% 50%;*/

		}

		.video-thumbnail {
			margin: 0 10%;
		}

		.video-thumbnail img {
			width: 100%;
			height: auto;
		}

		.video-thumbnail.selected {
			background-image: none;
		}

		.video {
			width: 420px;
			height: 236px;
		}
	}

/*
SUBSCRIPTION FORM
 */
.subscribe-form{display: none;float: right;margin: 17px 0px 0 0;border:2px solid #2b6766;
border-radius: 4px;padding: 5px 10px;position: relative;background: #000;}
.subscribe-form form{margin: 0;}
.subscribe-form input[type="text"], .subscribe-form input[type="password"],.subscribe-form  input[type="email"]  {
border: none;

outline: none;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
font: 16px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
line-height: 20px;
color: #fff;
margin: 0;
width: 210px;
max-width: 100%;
display: block;
margin-bottom: 0;
background: #000;
padding: 4px;
}
.subscribe-form .form-item{ margin: 0;}
.subscribe-form .form-actions,.webform-client-form .form-actions{ margin: 0;}

.subscribe-form .form-actions .form-submit{
	background: #388a90;
	font-size: 11px;
	font-weight: 300;
	font-family: "Oswald",Helvetica, Arial, sans-serif;

	margin: 0;
}
.subscribe-form .form-actions .form-submit:hover{
	background: #3b9197;
}
.subscribe-form .webform-client-form,.subscribe-form form{ width: 270px;}
.subscribe-placeholder{
	position: absolute;
	top: 10px;
	left: 10px;
	color: #fff;
	font-weight: 500;
	font-family: "Oswald",Helvetica, Arial, sans-serif;
	font-size: 15px;
}
.subscribe-placeholder span{
	font: 16px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
	margin-left: 5px;
	}
	.subscribe-close{
		position: absolute;
		color: #fff;
		right: -8px;
		top: -10px;
		background: #388a90;
		border-radius: 20px;
		font-size: 14px;
		text-align: center;
		display: block;
		padding: 0px 5px 2px;
		line-height: 14px;
	}
		.subscribe-close:hover{
			cursor: pointer;
			background: #3b9197;
			}
.subscribe-form label, .mc-field-group label{ display: none;}
	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {

	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

		.video-thumbnail.selected {
			background-image: none;
		}

		.video {
			width: 300px;
			height: 169px;
		}

		#break1, #break2, #break3, #break4, #break5 {
			height: 420px;
			background-position: center !important;
			background-attachment: scroll;
		}

		.message-box {
			display: none;
		}

	}

@media only screen and (max-width: 767px){
	.subscribe-form {position: absolute;}
}
@media only screen and (min-width: 768px){
  .menu .container { width: 100%;}
  .menu .container .sixteen.columns {width: 96%;margin:0 2%;}
  .menu-list li a{ font-size: 13px; padding: 0 10px;}
  .menu-list li.active a, .menu-list li a:hover{  font-size: 13px;}
  .login-subscribe {float: right;margin: 23px 20px 0 0;}
}
@media only screen  and (max-width: 1100px) {
		.login-subscribe {margin: 12px 20px 0 0;}
		.login-subscribe a{ float: none;display: block;}
		.logo img {max-width: 138px;	}
		.subscribe-form{margin: 0;}
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.logo {
	width: 140px;
	margin-top: 28px;
	}
	.logo img{ width:130px;}
	.login-subscribe{ display: none;}
	.menu-list li a{ font-size: 12px; padding: 0 6px;}
	a.join-button { padding: 4px 11px !important;}

}
@media only screen and (max-width: 479px){
	.login-subscribe{margin:0 auto;float: none;width: 175px;}
	.menu {height: 100px;}
	.login-subscribe a {
		float: left;
		display: block;
	}
	.subscribe-form {
	position: absolute;
	top: 54px;
	}
}
