h3 span {
	font-size: .55em;
	font-weight: normal;
	line-height: .5em;
}

a.pricing-option {
	display: block;
	text-align: center;
	cursor: pointer;
	border: 2px solid #b7b7b7;
	border-radius: 10px;
	padding: 20px 20px 10px 20px;
	margin-bottom: 25px;
}

a.pricing-option:hover {
	-moz-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;	
	border: 2px solid #01a3ab;	
	background-color: #f4fbfb;
}

.company-icon {
	width: 120px;
	height: auto;
}

.pricing-option .price {
	color: #677e87;
	font-family: "Oswald", Helvetica, Arial, sans-serif;	
	font-size: 24px;
	font-weight: bold;
	margin: 15px 0;
}

.pricing-option hr {
	width: 100%;
	height: 7px;
	background: url(../images/pricing-divider.png) top left repeat-x;
	border: 0;
	margin: 0 0 35px 0;
}

.sign-up-button {
	width: 80px;
	height: auto;
}

hr.orange {
	border-bottom: 3px solid #fb663c;
}