body { 
	background: #000;
}

.message-status {
	display: block;
}

.message-status ul {
	display: none;
}


#content {
	margin-top: 0;
}

.menu {
	position: absolute;
	top: inherit;
	bottom: 0;
}

.menu .release {
	float: left;
	font-weight: bold;
	margin-left: 5px;
}