hr {
    border-bottom: 1px solid #e7e7e7;
}

a ,a:visited,a:active,.color_big,.fullwidthbanner-container i{
    color: #669999;
}

.holder li {
    border-bottom: 1px solid #e7e7e7;
}

li .img-over {
    background-color: #669999;
}

li:hover .social {
    border-bottom: 1px solid #669999;
}

.holder li:hover {
    border-bottom: 1px solid #669999;
}

.filter li a {
    background-color: #e8e8e8;
}

.filter li.active a,.filter li a:hover {
    background-color: #669999;
    color: #fff;
}

.social {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.social a {
    background-color: #e4e4e4;
    color: #666666;
}

.social a:hover .icon-pinterest {
    color: #E00002;
}

.social a:hover .icon-twitter {
    color: #4099ff;
}

.social a:hover .icon-goggle-plus {
    color: #db5a3c;
}

.social a:hover .icon-linkedin {
    color: #4875B4;
}

.social a:hover .icon-facebook {
    color: #3B5998;
}

.info em {
    color: #999;
}

.page-wrapper {
    background-color: #fff !important;
}

body,html {
    color: #545454;
}

.portfolio h4 {
    color: #444;
}

.services h4 {
    color: #444;
}

.service i {
    color: #444;
}

.color {
    color: #669999;
}

.message-block {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    color: #535353;
}

.message-block span {
    color: #669999;
}

.title-bar h1 {
    border-right: 4px solid #669999;
}

.message p,.tweet {
    color: #fff;
    text-transform: uppercase;
    text-shadow:1px 1px 2px #666;
}

.menu {
    background-color: #000000;
    color: #fff;
}

.menu-list li a {
    color: #999;
}

.menu-list li.active a, .menu-list li a:hover {
    background-color: #1b1b1b;
    border-bottom: 3px solid #669999;
    color: #f8f8f8;
}

.arrow {
    border-bottom: 6px solid #669999;
}

.super h4 {
    color: #fff;
}

.slider-container {
    border-top: 3px solid #669999;
}

.slider-area {
    background-color: #e3e3e3;
}

.contact h4 {
    color: #444;
}

.contact-info li:hover i {
    color: #669999;
}

.contact-area button.std-button {
    color: #f2f2f2;
    background-color: #669999;
}

.contact-area button.std-button:hover {
    background-color: #2b2b2b;
}

.contact-area label {
    color: #888;
}

.contact-area label.error {
    color: #fff;
    background-color: #ff0000;
}
.slide-panel{
    background-color: #3a3a3a;
    color:#676767;
    border-bottom: 1px solid #4d4d4d;
}

.panel-wrap .column {
	border-left: 1px solid #4d4d4d;
	border-right: 1px solid #2b2b2b;	
	margin: 0;
}

.panel-wrap .first {
	border-left: 0;
}

.panel-wrap .last {
	border-right: 0;
}

.panel-wrap h3{
    color:#dedede;
}

.panel-wrap .list li{
    border-top: 1px solid #4d4d4d;
    border-bottom: 1px solid #2b2b2b;
}

.panel-wrap .list i{
    color: #669999;
}
.panel-wrap .toggle:hover i{
    color: #669999;
}

.panel-wrap .toggle{
    background-color: #4d4d4d;
    color: #dedede;
}
.footer {
    background-color: #000;
}