div.ajax-progress {
  background: rgba(0,0,0,0.3) !important;
  height: 100% !important;
  left: 0 !important;
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 9998 !important;
}
/*
div.throbber {
  background: url("http://thisgoodworld.dev/sites/all/modules/views_sexy_throbber/images/snake.gif") no-repeat scroll 50% 50% !important;
  background-color: transparent !important;
  border-radius: 16px !important;
  height: 32px !important;
  left: 50% !important;
  margin-left: -16px !important;
  margin-top: -16px !important;
  padding: 10px !important;
  position: fixed !important;
  top: 50% !important;
  width: 32px !important;
  z-index: 9999 !important;
}
*/
.ajax-progress div.throbber {
  width: 50px;
  height: 50px;
  background-image: none !important;
  background-color: #fff;
  left: 50% !important;
  padding: 10px !important;
  position: fixed !important;
  top: 50% !important;
  z-index: 9999 !important;
    margin-left: -16px !important;
  margin-top: -16px !important;

  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
