
@font-face {
    font-family: 'bitterregular';
    src: url('../font/bitter-regular-webfont.eot');
    src: url('../font/bitter-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/bitter-regular-webfont.woff') format('woff'),
         url('../font/bitter-regular-webfont.ttf') format('truetype'),
         url('../font/bitter-regular-webfont.svg#bitterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h2 {
	border-bottom: 0;
}

.center-column {
	float: none;
	clear: both;
	margin: 0px 0;
}
.logged-in .center-column {

	margin: 0px 0;
}
.center-column h1, .center-column h2, .center-column h3, .center-column h4, .center-column h5, .center-column p {
	font-family: "bitterregular";
}

.center-column p {
	font-size: 1.33em;
	line-height: 1.5em;
}

.center-column blockquote {
	border-bottom: 0;
	border-left: 0;
}

.player {
	margin-bottom: 1em;
}

.player iframe {
	width: 960px;
	height: 540px;
}

.field-name-field-header-image img {
	width: 100%;
	height: auto;
	margin-bottom: 1em;
}

.addthis_toolbox {
	float: right;
	margin-bottom: 1em;
}

.field-name-body img {
	width: 100% !important;
	height: inherit !important;
}

h4 em {
	display: block;
	width: 100%;
	text-align: center;
}

.back {
	display: block;
	border-top: 1px solid #e7e7e7;
	padding-top: .25em;
	margin: 3em 0 2em 0;
}

/* Listings
============================== */
.listing {
	float: left;
}

.listing a {
	display: block;
	padding: 6px;
}

.listing a:hover {
	background-color: #f26738;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.listing a img {
	display: block;
	height: auto;
	max-width: 300px;
}

.node-type-press-release .ten h2{
margin-top: 22px;
margin-bottom: 0;

}
.node-type-press-release  .field-name-field-image {
	margin-top: 46px;
}
/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {

  }

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.center-column {
			margin: 0px 9em;
		}

		.player iframe {
			width: 768px;
			height: 432px;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.center-column {
			margin: 0px 0em;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.player iframe {
			width: 420px;
			height: 236px;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.player iframe {
			width: 300px;
			height: 169px;
		}

	}
