
.views-exposed-form  .views-widget-filter-field_type_of_business_tid,
.views-exposed-form .views-widget-filter-field_type_of_good_tid {
  width: 50%;
  padding: 1% 1%;
  margin: 0 auto;
}
.views-widget-filter-field_type_of_business_tid > label,
.views-widget-filter-field_type_of_good_tid > label{

  background: url("images/greenico.png") no-repeat #fff;
  background-position: 97% 12px;
  background-size: 23px;
  height: 40px;
  width: 100%;
     text-align: center;
  border: 2px solid #71868f;
  border-radius: 5px;
  background-clip: padding-box;
  opacity:0.7;
  font-size: 20px;
  font-weight: 300;
  color: #6c6b6b;
  line-height: 25px;
  padding: 5px 0;
}

.views-widget-filter-field_type_of_good_tid > label{
  margin-right: 0;
  background: url("images/redico.png") no-repeat #fff;
  background-position: 97% 12px;
  background-size: 23px;
}
.views-widget-filter-field_type_of_business_tid > label:hover,
.views-widget-filter-field_type_of_good_tid > label:hover{
  opacity: 1;
}
label strong{
  font-weight: 400;
}
/**
 * CHECKBOX STYLE
 */

.form-item-field-type-of-business-tid li{margin-bottom: 6px;}
.views-exposed-form .form-item.form-type-bef-checkbox {
    margin:0;
    border-radius:4px;
    overflow:hidden;
    float:none;
    width: 100%;
}


.form-type-bef-checkbox label {
padding: 8px 15px;
display: block;
border-radius: 4px;
margin-bottom: 0;
color: #fff;
font-family: "Oswald",Helvetica, Arial, sans-serif;
font-weight: 300;
background-color: #f16646;
opacity: 0.75;
font-size: 16px;
text-align: center;

}

.form-type-bef-checkbox input {
    position:absolute;
    top:-9999px;
}

.form-type-bef-checkbox:hover   label {
    background-color:#f16646;
      opacity: 1;
}

.form-type-bef-checkbox input:checked + label {
    background-color:#f16646;
    color:#fff;
     opacity: 1;
}

.form-type-bef-checkbox:hover input:checked  + label {
    background-color:#f16646;
    color:#fff;
    opacity: 1;
}

/**
 * GREEN LABELS;
 */
li .form-type-bef-checkbox label {
    background-color:#27b99a;
     opacity: 0.75;
}
li .form-type-bef-checkbox:hover   label {
    background-color:#27b99a;
    opacity: 1;
}

 li .form-type-bef-checkbox input:checked + label {
    background-color:#478e78;
    color:#fff;
     opacity: 1;
}

li .form-type-bef-checkbox:hover input:checked + label {
    background-color:#478e78;
    color:#fff;
    opacity: 1;
}

.bef-tree-depth-2,.bef-tree-depth-1{display: none;}
.views-exposed-form .bef-tree-depth-1 .form-item.form-type-bef-checkbox,
.views-exposed-form .bef-tree-depth-2 .form-item.form-type-bef-checkbox {
    width: 94%;
    margin-left: 20px;
}
.views-exposed-form .bef-tree-depth-2 .form-item.form-type-bef-checkbox {
  margin-left: 40px;
}
.form-checkboxes ul{margin:0;}
/*.throbber{display: none;}
.ajax-progress-throbber {
  display: none;
}*/
.leaflet-localise{
  background: url("images/localise.png") no-repeat 0 0;
  background-size: 18px;
  text-indent: -9999px;
}

.large-text{
color:#fff;
font-size: 60px;
 font-family: "Oswald",Helvetica, Arial, sans-serif;
margin-bottom: 10px;
  text-align: center;
  text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased !important;
}
.search-now{
 font-family: "Oswald",Helvetica, Arial, sans-serif;
 font-weight: 300;
 background: #5b737b;
font-size: 18px;
 text-transform: uppercase;
 text-align: center;
 color:#fff;
 padding: 10px 6%;
text-transform: uppercase;
text-align: center;
margin: 0 auto;
width: 215px;
letter-spacing: normal;
text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased !important;
}
.btn{
   font-family: "Oswald",Helvetica, Arial, sans-serif;
 font-weight: 300;
 background: #5b737b;
 width: 49%;
 display: block;
 float: left;
 color:#fff;
 padding:10px;
 text-align: center;
}
.btn.keep{
  background: #5b737b;
  margin-right: 4px;
}
.btn.citys{
  background: #6c6c6a;
  color:#fff;
}
.btn.keep{
  color:#fff;
}
.btn.citys:hover{
  background: #777773;
  color:#fff;
}


@media only screen and (min-width: 768px) and (max-width: 959px) {
    .large-text{font-size: 33px;}
    .search-now{font-size: 18px;  width: 215px;}
    .join-now{font-size: 11px;}
    .join-now a{font-size: 17px; }
    .splash-center{ margin: 17% auto 0;}
    .social-block img{ height: 40px; width: auto;margin: 10px 15px 50px;}
    .asseenon h5,.mission h5{ font-size: 38px; line-height: 38px;}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .large-text{font-size: 26px;}
    .search-now{font-size: 18px;  width: 215px;}
    .join-now{font-size: 11px;}
    .join-now a{font-size: 11px; }
    .splash-center{ margin: 25% auto 0;width: 70%;}
    .views-exposed-form .form-item.form-type-bef-checkbox{ width: 100%;}
    #views-exposed-form-map-page{width: 550px;}
    .mission-text {
      font-size: 37px;
      line-height: 47px;
    }
    .members-block .cities.ralign, .members-block .cities {
    text-align: center;
    }
     .front .blog-area .one-third.column{ width: 100%;}
}

@media only screen and (max-width: 479px) {
    .large-text{font-size: 20px;}
    .search-now{font-size: 18px;  width: 215px;}
    .join-now{font-size: 11px;}
    .join-now a{font-size: 11px; }
    .splash-center{ margin: 35% auto 0;width: 70%;}
    .views-exposed-form .form-item.form-type-bef-checkbox{ width: 100%;}
    .views-widget-filter-field_type_of_business_tid > label, .views-widget-filter-field_type_of_good_tid > label{font-size: 18px;height: auto;background: #fff;}
     #views-exposed-form-map-page{width: 220px;}
    .leaflet-control-mapbox-geocoder.active .leaflet-control-mapbox-geocoder-wrap{ width: 65%;}
    .leaflet-control-mapbox-geocoder .leaflet-control-mapbox-geocoder-form input{ font-size: 13px;}
    #views-exposed-form-map-page input.form-text, .leaflet-control-mapbox-geocoder.active{background-position: 97% 13px;background-size: 25px;}

    .form-type-bef-checkbox label {padding: 3px 8px;font-size: 13px;}
    .views-exposed-form .form-item.form-type-bef-checkbox {margin: 1px;}
    .leaflet-container a.leaflet-popup-close-button {
    text-align: center;
    font-size: 43px;

    padding: 9px 0 0;
    display: block;
    width: 38px;
    height: 40px;
    background: #fff;
    opacity: 1;
    border: 1px solid #fff;
    top: -40px;
    right: 20px;
  }
   .mission-text {
      font-size: 37px;
      line-height: 47px;
    }
    .members-block .cities.ralign, .members-block .cities {
    text-align: center;
    }
    .front .blog-area .one-third.column{ width: 100%;}
}


