label {
	display: none;
}

.description {
	display: none;
}

.form-required {
	color: #669999;
	top: -.25em;
	position: relative;
}

.form-item {
	margin-top: 0;
	margin-bottom: 0;
}

p.instruction {
	clear: both;
}

#logo p.instruction {
	display: none;
}

.item {
	margin-bottom: 40px;
}

.regular-display label {
	display: block;
}

.your-good p.instruction {
	font-style: italic;
}

.your-good .filter-wrapper, .your-good .ckeditor_links {
	display: none !important;
}

.social {
	border-top: 0;
	border-bottom: 0;
}

.social ul {
	float: left;
	margin-bottom: 15px;
}

.social ul li {
	display: block;
	width: 115px;
	position: relative;
	float: left;
	text-align: center;
	border-right: 1px solid #CCCCCC;
	padding: 15px 0px;
}

.social ul li.last {
	border-right: 0;
}

.social ul li:hover {
	cursor: pointer;
}

.social ul li.active {
	border-bottom: 3px solid #669999;
	padding-bottom: 12px;
}

.social .field-type-text {
	display: none;
}

.social label:hover {
	cursor: pointer;
}

.social .arrow {
	display: block;
}

.social.urls .field-type-text {
	position: relative;
	height: 75px;
}

.social.urls .form-type-textfield {
	position: absolute;
}

.social.urls .form-item-field-facebook-url-und-0-value {
	left: 0px;
}

.social.urls .form-item-field-twitter-url-und-0-value {
	left: 115px;
}

.social.urls .form-item-field-pinterest-url-und-0-value {
	left: 230px;
}

.social.urls .form-item-field-foursquare-url-und-0-value {
	left: 345px;
}

.social.urls .form-item-field-instagram-url-und-0-value, .social.urls .form-item-field-linkedin-url-und-0-value {
	left: 460px;
}

li i.icon-ok {
	width: auto;
	color: #669999;
	text-align: left;
	margin-right: 4px;
}

.tabledrag-toggle-weight-wrapper {
	display: none;
}

.pledge label {
	display: none;
}

.pledge p.instruction {
	clear: none;
}

/*===Fields===*/

#edit-field-city  {
	float: left;
	margin-right: 25px;
}

#edit-field-state-und-0-value {
	width: 2.5em;f
	loat: left;
	text-transform: uppercase;
}

#edit-field-zip-code-und-0-value {
	width: 3.5em;
}

.social input, #edit-field-website-und-0-value, #edit-field-address-1-und-0-value, #edit-field-address-2-und-0-value {
	width: 290px;
}

.field-multiple-drag {
	display: none;
}

#edit-field-pledge, .pledge .instruction {
	float: left;
	margin-right: 5px;
}

.pledge .instruction {
	font-size: 1.25em;
	line-height: 1.5em;
}

.form-item .form-item, .pledge .form-item {
	margin-top: 0;
	margin-bottom: 0;
}

#edit-submit {
	width: 100%;	
	font-size: 1.25em;
	padding: 10px 0px;
	margin-left: 0px;
}