#profile-container {
	padding-top: 20px;
}

#user-popup, #leaflet-map #user-profile {
	display: none;
}

#leaflet-map #user-popup {
	display: block;
	font-size: 12px;
}

.leaflet-popup-content-wrapper {
	width: 350px;
	height: auto;
	border-radius: 0;
	background: url(../images/popup-background.png) -13px -38px no-repeat #FFFFFF;
}
.island .leaflet-popup-content-wrapper {
	width: auto;
	height: auto;
	border-radius: 0;
	background: url(../images/popup-background.png) -13px -38px no-repeat #FFFFFF;
}
#leaflet-map .field-name-field-logo {
	position: absolute;
	right: 25px;
	top: 25px;
}

#leaflet-map h2 {
	line-height: normal;
	margin-bottom: 0.25em;
	max-width: 205px;
}

#leaflet-map .area-of-good {
	float: none;
	margin-top: 20px;
}

#leaflet-map .area-of-good .field {
	width: 230px;
	font-size: 1em;
	margin-top: 0;
}

#user-profile h2, #user-profile h3 {
	text-transform: uppercase;
}
 #user-profile a h3 {
 	margin-bottom: 0;
 }
  #user-profile a:hover h3 {
 	margin-bottom: 0;
 	color: #669999;
 }
.field-name-field-logo {
	margin-bottom: 25px;
}

.field-name-field-description {
	margin-bottom: 50px;
}

ul.social {
	width: 190px;
	font-size: 2em;
}

ul.social a {
	display: inline-block;
	margin-right: 10px;
}

ul.social a li {
	text-indent: -9999em;
}

h2#profile-name {
	display: inline-block;
	margin-right: 3px;
	margin-bottom: 2.0em;
}

h6 {
	display: inline-block;
	position: relative;
	top: -4px;
	margin-bottom: .25em;
}

h6 span {
	font-style: italic;
	text-transform: uppercase;
}

#profile-website {
	display: block;
	margin-bottom: 50px;
}

.view-profile {
	font-weight: bold;
}

.area-of-good {
	float: left;
	clear: both;
	margin-bottom: 1em;
}

.area-of-good img {
	display: block;
	float: left;
	margin-right: 10px;
}

.area-of-good h3 {
	display: block;
	float: left;
	width: 110px;
	font-size: 1.25em;
	margin-top: 20px;
	margin-right: 15px;
	margin-bottom: 0;
}

.area-of-good .field {
	display: block;
	float: left;
	width: 380px;
	margin-top: 20px;
}

.resource-center {
	border-bottom: 1px solid #e7e7e7;
}

.resource-center h4 {
	font-size: 16px;
}

.resource-center a {
	font-size: 1.20em;
	padding: 10px;
	margin-bottom: 10px;
}

#blog-post-text {
	width: 100%;
}

#copy-blog-text {
	display: block;
	padding-left: 0;
	margin-top: 5px;
}

/*=== Frame ===*/
.profile-frame {
	width: 100%;
	height: 600px;
	overflow: visible;
}
.field-widget-text-textarea {
margin: 1em 0;
float: left;
width: 370px;
}
.social .form-item {
margin-top: 0;
margin-bottom: 0;
}
.social label{ margin-left: 33px;}
.social li a{ position:relative;
top:21px;
}
/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		.area-of-good .field {
			width: 340px;
		}
  }

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.area-of-good .field {
			width: auto;
		}

	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {

	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {


	}
