body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;	
}

iframe {
	height: 100%;
	border: 0;
}

.d-header {
	height: 74px;
	background-color: #000000;
	box-shadow: none;
}

.d-header .title #site-logo {
	margin-right: 20px;
}

.d-header .contents {
	margin: 0;
}

.menu-holder {
	float: left;	
	margin: 0px 30px;
}

#main-menu {
	list-style: none outside;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;	
	overflow: hidden;
	margin: 0;
}

#main-menu li {
	float: left;
	margin: 0;
	padding: 0;
}

#main-menu li a {
	position: relative;
	text-align: center;
	height: 74px;
	color: #999999;
	line-height: 74px;
	display: inline-block;
	font-size: 13px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 12px;
	-webkit-transition: color 0.2s ease-in;
	-moz-transition: color 0.2s ease-in;
	-o-transition: color 0.2s ease-in;
	transition: color 0.2s ease-in	
}

.menu-list li.active a, .menu-list li a:hover {
	color: #FFFFFF;
	background-color: #1b1b1b;
	border-bottom: 3px solid #669999;
	color: #f8f8f8;
}

.arrow{
	display: none;
	position: absolute;
	bottom: -2px;
	left:50%;
	margin-left: -6px;
	height: 0;
	font-size:0;
	line-height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	-webkit-font-smoothing: antialiased;
	border-bottom: 6px solid #669999;
}

.d-header .icons {
	margin-top: 18px;
}

.d-header .icons .icon, .d-header .icons > li:last-child .icon {
	border: 0;
}

.nav-pills > li.active > a, .nav-pills > li > a.active {
 background-color: #333;   
}

.d-header #site-logo {
	max-width: 200px;
}

#main-outlet {
	padding-top: 90px;
}

.extra-info-wrapper {
	width: auto;
	margin-top: 1em;
}

.topic-link {
	color: #FFFFFF;
}