@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

body {
	color: #2a2a2a;
	font-size: 12px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	text-align: center;
	padding: 0;
	margin: 0;
}

h1 {
	color: #DDDDDD;
	font-size: 5.0em;
	font-weight: 300;
	padding: 0;
}

table {
	width: 100%;
}

th {
	color: #666666;
	font-size: 1.5em;
	font-weight: 300;
	background-color: #FFFFFF;
}

th, td {
	text-align: left;
	padding: 10px;
}

#page {
	width: 900px;
	text-align: left;
	margin: 0px auto;
}

#make-csv {
	float: right;
	color: #FFFFFF;
	background-color: #669999;
	cursor: pointer;
	padding: 7px 20px;
	margin-top: 20px;
}