<div id="wrapper">

    <div id="wrapper-inside">

        <div id="preview">

    

            <div id="site-name"><a>Site-name</a></div>

            <div id="site-slogan">Slogan</div>

        

            <div id="preview-content">

        

            <h1>Heading</h1>

            Sit amet, <a>consectetur adipisicing elit</a>, sed do eiusmod tempor

            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis

            nostrud <a>exercitation ullamco</a> laboris nisi ut aliquip ex ea

            commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.

            </div>

            

        </div>

    </div>    

</div>